.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.pageNumber {
    font-size: 1rem;
    font-weight: 500;
    color: #666;
}

.button {
    background-color: rgb(16, 92, 47);
    color: white;
    border: none;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
}
.button:disabled{
    background-color: rgb(241, 102, 130);
    cursor: not-allowed;
}