.container{
    display: flex;
    justify-content: space-between;


}
.button{
    background-color: rgb(16, 92, 47);
    color: white;
    border: none;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
}
.button:disabled{
    background-color: rgb(241, 102, 130);
    cursor: not-allowed;
}