.container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    
}
.input{
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}

.editor {
  display: flex;
  gap: 20px;
  height: 500px;
  position: relative;
}
.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addButton {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
}


.textArea {
  width: 100%;
  margin-top: 60px;
 
}

.publish{
    position: absolute;
    top:10px;
    right:10px;
    padding:10px 20px;
    background-color: var(--textColor);
    color: var(--bg);
    border:none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 50px;
}
@media screen and (max-width:768px){
    .input{
        font-size: 40px;
        padding:20px;
    }
    .editor{
        flex-direction: column;
    }
  
}