.container{
    display: flex;
    flex-direction: column;
   
    gap: 50px;
    margin-top: 100px;
}
.info{

    gap: 20px;
}
.infoLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.title{
    font-size: 50px;
    font-weight: bold;
    flex: 5;
}
.userInfo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #888;
    flex: 2;
}
.userImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.userDetail{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 14px;
    color: var(--softTextColor);
}
.imageContainer{
    flex: 1;
    position: relative;
    height: 350px;
   
}
.image{
    
    object-fit: cover;
   
}

.content{
    display: flex;
    gap: 50px;

}
.post{
   
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    flex: 5;



}

.postText{
    color: var(--softTextColor);
    

}
.postText p{
    margin-bottom: 20px;
}

.menu{
  
  flex: 2;
  
}
@media screen and (max-width: 1024px) {
  .info {
    flex-direction: column;
    gap: 50px;
  }
   /* .imageContainer{
    display: none;
   } */
    .userInfo {
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 20px;
    }

  .menu {
    display: none;
  }
  .title{
    font-size: 30px;
  }
}